---
import ColorBox from "./ColorBox.astro";
const { group } = Astro.props;
const titleCase = (str) => str.charAt(0).toUpperCase() + str.slice(1);
const tokens = [
    {
        name: `${titleCase(group)}`,
        token: `--md-sys-color-${group}`,
    },
    {
        name: `On ${titleCase(group)}`,
        token: `--md-sys-color-on-${group}`,
    },
    {
        name: `${titleCase(group)} Container`,
        token: `--md-sys-color-${group}-container`,
    },
    {
        name: `On ${titleCase(group)} Container`,
        token: `--md-sys-color-on-${group}-container`,
    },
];
---

<style>
    .color-family {
        display: flex;
        width: 100%;
        min-width: 500px;
        overflow-x: auto;
    }
</style>

<div class="color-family pad-v">
    {tokens.map((role) => <ColorBox token={role.token} name={role.name} />)}
</div>
