---
import HeadCommon from "../components/HeadCommon.astro";
import HeadSEO from "../components/HeadSEO.astro";
import Header from "../components/Header";
import Menu from "../components/Menu";
import * as CONFIG from "../config";
import "../styles/main.css";
import "../styles/header.css";

const { content = {} } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const currentPage = Astro.url.pathname;
const title = content.title
	? `${content.title} 🎨 ${CONFIG.SITE.title}`
	: CONFIG.SITE.title;
---

<html dir={content.dir ?? "ltr"} lang={content.lang ?? "en-us"} class="initial">
	<head>
		<HeadCommon />
		<HeadSEO {content} canonicalURL={canonicalURL} />
		<title>{title}</title>
	</head>

	<body class="light-theme">
		<div id="header">
			<Header {currentPage} client:only="preact" />
		</div>
		<div id="main">
			<main id="content" class="content">
				<article>
					<h1>{content.title}</h1>
					<slot />
				</article>
			</main>
			<div id="menu">
				<Menu items={CONFIG.SIDEBAR} client:only="preact" />
			</div>
		</div>
	</body>
</html>
