---
import HeadCommon from "../components/HeadCommon.astro";
import HeadSEO from "../components/HeadSEO.astro";
import Header from "../components/Header";
import Menu from "../components/Menu";
import * as CONFIG from "../config";
import "../styles/main.css";

const { content = {} } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const currentPage = Astro.url.pathname;
---

<html dir={content.dir ?? "ltr"} lang={content.lang ?? "en-us"} class="initial">
	<head>
		<HeadCommon />
		<HeadSEO {content} canonicalURL={canonicalURL} />
		<title>
			{
				content.title
					? `${content.title} 🎨 ${CONFIG.SITE.title}`
					: CONFIG.SITE.title
			}
		</title>
	</head>

	<body class="light-theme">
		<Header {currentPage} client:only="preact" />
		<main class="content">
			<slot />
		</main>
		<Menu items={CONFIG.SIDEBAR} client:only="preact" />
	</body>
</html>
